<div class="list-group list-group-flush p-2 side-bar">
  <!-- Add task -->
  <button
    type="button"
    class="list-group-item list-group-item-action"
    (click)="openAddTaskModal(content)"
  >
    <i class="bi bi-plus-circle-fill"></i>
    Add task
  </button>

  <!-- Search -->
  <button type="button" class="list-group-item list-group-item-action">
    Search
  </button>

  <!-- Inbox -->
  <a
    routerLink="/inbox"
    ariaCurrentWhenActive="page"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    data-bs-toggle="list"
  >
    Inbox
    <span class="badge text-bg-secondary rounded-pill">14</span>
  </a>

  <!-- Today -->
  <a
    routerLink="/today"
    ariaCurrentWhenActive="page"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    data-bs-toggle="list"
  >
    Today
    <span class="badge text-bg-secondary rounded-pill">14</span>
  </a>

  <!-- Upcoming -->
  <a
    href="#"
    class="list-group-item list-group-item-action"
    data-bs-toggle="list"
  >
    Upcoming
  </a>
</div>

<!-- Add task modal -->
<ng-template #content let-modal>
  <div class="modal-body">
    <form #form="ngForm">
      <input
        class="form-control form-control-lg shadow-none border-0 fw-medium fs-5"
        type="text"
        ngAutoFocus
        [(ngModel)]="taskName"
        name="taskName"
        placeholder="Task name"
        aria-label="task name"
      />
      <input
        class="form-control form-control-sm shadow-none border-0 ps-3"
        type="text"
        [(ngModel)]="description"
        name="description"
        placeholder="Description"
        aria-label="description"
      />
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('cancel')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="modal.close('add')">
      Add task
    </button>
  </div>
</ng-template>
