<div class="container-fluid h-scroll" (scroll)="onScroll($event)">
  <!-- Top bar -->
  <div class="sticky-top bg-white d-flex justify-content-end">
    <button type="button" class="btn btn-primary m-2">Mails</button>

    <div class="position-absolute top-50 start-50 translate-middle">
      <div [@flyInOut]="isScrolled ? 'flyIn' : 'flyOut'" class="text-center h2">
        Inbox
      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="row justify-content-center">
    <div class="col-5">
      <!-- project name -->
      <!-- <form #form="ngForm" *ngIf="project$ | async as project">
        <input class="form-text" [(ngModel)]="project.name" name="name" />
      </form> -->

      <div [@scrolledTrigger]="isScrolled ? true : false" class="h2 mb-4">
        {{ (project$ | async)?.name }}
      </div>

      <!-- section detail -->
      <div cdkDropListGroup>
        <app-section-detail [section]="nullSection"></app-section-detail>

        @for (section of sections; track section) {
        <app-section-detail [section]="section"></app-section-detail>
        }
      </div>
    </div>
  </div>
</div>
