<div class="container">
  <div class="row">
    <div class="col-5 bg-light">
      <div class="h2 mb-4">My Projects</div>

      <div class="vstack gap-3">
        <div class="d-flex align-items-end border-bottom">
          <div class="fw-medium me-auto m-1">projects</div>
          <button class="btn btn-primary btn-sm m-1" (click)="addProject()">
            +
          </button>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
            The current link item
          </a>
          <a href="#" class="list-group-item list-group-item-action"
            >A second link item</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >A third link item</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >A fourth link item</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
